
<div class="col-12">

    <div class="py-2 px-3">
        <div class="row">

            <div class="col-sm-3 col-lg-2">
                <div class="card">

                    <div class="nav flex-column nav-pills nav-pills-tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link show mb-1 active" id="v-pills-landing-page-tab" data-toggle="pill"
                            href="#v-pills-landing-page" role="tab" aria-controls="v-pills-landing-page" aria-selected="true">
                            Landing Page
                        </a>
                        <a class="nav-link mb-1" id="v-pills-002-tab" data-toggle="pill" href="#v-pills-002"
                            role="tab" aria-controls="v-pills-002" aria-selected="false">
                            Profile
                        </a>
                        <a class="nav-link mb-1" id="v-pills-003-tab" data-toggle="pill"
                            href="#v-pills-003" role="tab" aria-controls="v-pills-003"
                            aria-selected="false">
                            Messages
                        </a>
                        <a class="nav-link mb-1" id="v-pills-004-tab" data-toggle="pill"
                            href="#v-pills-004" role="tab" aria-controls="v-pills-004"
                            aria-selected="false">
                            Settings
                        </a>

                    </div>

                </div>
            </div>

            <div class="col-sm-9 col-lg-10">
                <div class="card-box">

                    <div class="tab-content pt-0">
                        <div class="tab-pane fade active show" id="v-pills-landing-page" role="tabpanel" aria-labelledby="v-pills-landing-page-tab">
                            <h3 class="mt-0 font-20">
                                Landing Page
                            </h3>
                            <div class="badge badge-blue mb-3">
                                MESSAGES
                            </div>
                            <h5>Message:</h5>
                            <p class="text-muted mb-2">
                                As mensagens recebidas a partir da landing page serão exibidas na página de mensagens,
                                que pode ser acessada através do menu lateral clicando na opção "Messages".
                            </p>
                            <p class="text-muted mb-2">
                                Caso a mensagem seja enviada com um e-mail que seja de alguma empresa com acesso a página
                                de usuários da sua aplicação um ícone de cor verde (<i class="mdi "></i>) aparecerá antes da data de envio da mensagem.
                            </p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-002" role="tabpanel" aria-labelledby="v-pills-002-tab">
                            <p>
                                Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis
                                pariatur mollit aute magna
                                pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in quis
                                laboris ipsum velit
                                id veniam. Quis ut consectetur adipisicing officia excepteur non sit. Ut et elit
                                aliquip labore Lorem
                                enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui esse anim
                                eiusmod do sint minim consectetur
                                qui.
                            </p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-003" role="tabpanel" aria-labelledby="v-pills-003-tab">
                            <p>
                                Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui
                                magna. Ad proident laboris
                                ullamco esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud magna
                                nulla. Velit et et
                                proident Lorem do ea tempor officia dolor. Reprehenderit Lorem aliquip labore est
                                magna commodo est ea
                                veniam consectetur.
                            </p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-004" role="tabpanel" aria-labelledby="v-pills-004-tab">
                            <p>
                                Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur
                                elit id dolor proident
                                in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do.
                                Aliqua amet qui
                                mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet.
                                Culpa ullamco sit
                                adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>