<div class="col-12 order-1" panel-crlcoin="appCompanies">

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body bg-pattern bg-dark rounded">

                    <div class="d-flex align-items-center justify-content-left">

                        <h3 class="text-light mr-2">
                            Register new Company
                        </h3>

                        <div class="card-widgets float-right mb-3 ml-auto">
                            {{!-- <a title="Settings" href="javascript:void(0);" type="button"
                                class="btn btn-blue waves-effect waves-light text-light">
                                <i class="mdi mdi-cog"></i>
                            </a> --}}
                            <a title="Refresh" data-crl="refreshCreateCompany" href="javascript: void(0);"
                                data-toggle="reload" class="btn btn-blue text-light">
                                <i class="mdi mdi-refresh"></i>
                            </a>
                            <a title="Show/Hidden" data-toggle="collapse" href="#cardCollNewCompany" role="button"
                                aria-expanded="false" aria-controls="cardCollNewCompany"
                                class="btn btn-blue waves-effect waves-light text-light collapsed">
                                <i class="mdi mdi-minus"></i>
                            </a>
                        </div>

                    </div>

                    <div id="cardCollNewCompany" class="pt-3 collapse" style="">
                        <div class="text-left">

                            <form id="formNewCompany" data-crl="formNewCompany">

                                <div class="row">

                                    <div class="col-12 mb-3">
                                        <label for="radioCompanyType" class="form-label text-light">Account Type</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="radioCompanyType"
                                                value="manager" data-crl="radioCompanyType" checked="true">
                                            <label class="form-check-label text-light" for="radioCompanyType">
                                                Manager
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="companyName" class="form-label text-light">Company Name</label>
                                        <input type="text" class="form-control" id="companyName" data-crl="companyName"
                                            placeholder="CRLcoin Technology Group" required="true">
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="companyMail" class="form-label text-light">Company Email
                                            address</label>
                                        <input type="email" class="form-control" id="companyMail" data-crl="companyMail"
                                            placeholder="example@mail.com" required="true">
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="companyPermission" class="form-label text-light">Company
                                            Permission</label>
                                        <input type="text" disabled="true" class="form-control" id="companyPermission"
                                            data-crl="companyPermission" required="true">
                                        <label for="companyPermission" class="btn btn-primary mt-2"
                                            data-crl="generatePermission">
                                            <i class="fas fa-random"></i>
                                            Random Permission
                                        </label>
                                    </div>

                                    <div class="col-6 mb-3">
                                        <button type="button" data-crl="saveCompany" class="btn btn-success">
                                            <i class="mdi mdi-content-save-outline"></i>
                                            <span> Save Company </span>
                                        </button>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<hr>