
<div class="col-12 order-1" panel-crlcoin="appCharts">

    <div class="row">

        <div class="col-xl-4 col-md-6">

            <div class="card">
                <div class="card-body" dir="ltr">

                    <h4 class="header-title mb-0">Lifetime Sales</h4>

                    <div id="cardCollpase1" class="collapse pt-3 show">
                        <div class="text-center">
                            <div class="row mt-2">
                                <div class="col">
                                    <h3 data-plugin="counterup">3,487</h3>
                                    <p class="text-muted font-13 mb-0 text-truncate">Total Sales</p>
                                </div>
                                <div class="col">
                                    <h3 data-plugin="counterup">814</h3>
                                    <p class="text-muted font-13 mb-0 text-truncate">Open Campaign</p>
                                </div>
                                <div class="col">
                                    <h3 data-plugin="counterup">5,324</h3>
                                    <p class="text-muted font-13 mb-0 text-truncate">Daily Sales</p>
                                </div>
                            </div>
                            <div id="lifetime-sales" style="height: 270px;" class="morris-chart mt-3"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-xl-4 col-md-6">

            <div class="card">
                <div class="card-body" dir="ltr">

                    <h4 class="header-title mb-0">Statistics</h4>

                    <div id="cardCollpase3" class="collapse pt-3 show">
                        <div class="text-center">

                            <div class="row mt-2">
                                <div class="col-6">
                                    <h3 data-plugin="counterup">
                                        1,284
                                    </h3>
                                    <p class="text-muted font-13 mb-0 text-truncate">
                                        Total Sales
                                    </p>
                                </div>
                                <div class="col-6">
                                    <h3 data-plugin="counterup">
                                        7,841
                                    </h3>
                                    <p class="text-muted font-13 mb-0 text-truncate">
                                        Open Campaign
                                    </p>
                                </div>
                            </div>
                            <div id="statistics-chart" style="height: 270px;" class="morris-chart mt-3"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-4 col-md-12">

            <div class="card">
                <div class="card-body" dir="ltr">

                    <h4 class="header-title mb-0">Income Amounts</h4>

                    <div id="cardCollpase2" class="collapse pt-3 show">
                        <div class="text-center">

                            <div class="row mt-2">
                                <div class="col-4">
                                    <h3 data-plugin="counterup">2,845</h3>
                                    <p class="text-muted font-13 mb-0 text-truncate">Total Sales</p>
                                </div>
                                <div class="col-4">
                                    <h3 data-plugin="counterup">6,487</h3>
                                    <p class="text-muted font-13 mb-0 text-truncate">Open Campaign</p>
                                </div>
                                <div class="col-4">
                                    <h3 data-plugin="counterup">201</h3>
                                    <p class="text-muted font-13 mb-0 text-truncate">Daily Sales</p>
                                </div>
                            </div>

                            <div id="income-amounts" style="height: 270px;" class="morris-chart mt-3"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
