<div class="col-12 order-1" >

    <div class="card">
        <div class="card-body bg-pattern bg-dark rounded py-1">

            <div class="d-flex align-items-center justify-content-left">

                <h3 class="text-light">
                    Create Table
                </h3>

                <div class="card-widgets float-right mb-3 mt-1 ml-auto">
                    <a title="Refresh" data-crl="refreshCreateTable" href="javascript: void(0);" data-toggle="reload"
                        class="btn btn-danger text-light">
                        <i class="mdi mdi-refresh"></i>
                    </a>
                    <a title="Show/Hidden" data-toggle="collapse" href="#cardCollNewTable" role="button"
                        aria-expanded="false" aria-controls="cardCollNewTable"
                        class="btn btn-blue text-light collapsed">
                        <i class="mdi mdi-minus"></i>
                    </a>
                </div>

            </div>

            <div id="cardCollNewTable" class="pt-3 collapse" style="">
                <div class="text-left">

                    <form id="formNewTable" method="post">

                        <div class="mb-3">
                            <label for="tableName" class="form-label text-light">Table Name</label>
                            <input type="text" class="form-control" id="tableName" data-crl="tableName"
                                placeholder="Support" required="true">
                        </div>

                        <div class="mb-3 position-relative">
                            <label for="tableFunction" class="form-label text-light">Table Function</label>
                            <textarea class="form-control custom-letter" id="tableFunction"
                                rows="5" data-crl="tableFunction"
                                placeholder='<column require>: <column response>: SE(value == <Compare>, <Response True>, <Response False>);'></textarea>
                        </div>

                        <div class="my-3">
                            <h3 class="d-flex align-items-center justify-content-left text-light">
                                <span id="coluns-table-name"></span>&nbsp;Columns
                            </h3>
                        </div>

                        <span data-crl="table-columns-anchor">

                            <div data-crl="column-form" class="row border border-muted rounded mb-3 mx-1 bg-light">

                                <div class="col-12">
                                    <button type="button" class="btn btn-danger mt-3 mb-2" data-crl="removeColumn">
                                        <i class="mdi mdi-table-column-remove"></i>
                                        <span> Remove Column </span>
                                    </button>
                                </div>

                                <div class="mb-3 col-12 col-md-6">
                                    <label for="columnName" class="form-label">Column Name</label>
                                    <input type="text" class="form-control" id="columnName" placeholder="Status"
                                        required="true" data-crl="columnName">
                                </div>

                                <div class="mb-3 col-12 col-md-6">
                                    <label for="columnOptionsList" class="form-label">Column Type</label>
                                    <input class="form-control" list="datalistOptions" id="columnOptionsList"
                                        data-crl="columnOptionsList" placeholder="Type to search..." required="true">
                                    <datalist id="datalistOptions">
                                        <option value="date">
                                        <option value="file">
                                        <option value="function">
                                        <option value="id">
                                        <option value="link">
                                        <option value="number">
                                        <option value="options">
                                        <option value="percent">
                                        <option value="text">
                                    </datalist>
                                </div>

                                <div class="mb-3 col-12 pre-hidden" data-crl="columnOptions">
                                    <label for="columnOptions" class="form-label">Options</label>
                                    <small class="text-blue">
                                        <i class="mdi mdi-information"></i>
                                        <span> Options split by semicolon or comma </span>
                                    </small>
                                    <input type="text" class="form-control custom-letter" id="columnOptions"
                                        data-crl="columnOptions" placeholder="Opt 1;Opt 2;Opt 3;Opt 4,Opt 5,Opt 7;">
                                    <span class="columnOptionsPreview"></span>
                                </div>

                                {{!-- <div class="mb-3 col-12 pre-hidden" data-crl="columnFunction">
                                    <label for="columnFunction" class="form-label">Column Function</label>
                                    <textarea class="form-control custom-letter" id="columnFunction" rows="3"
                                        placeholder='if(parentRow("status") === "start", "Response A", "Response B" )'></textarea>
                                </div> --}}

                            </div>

                        </span>

                        <div class="mb-3">
                            <button type="button" data-crl="newColumn" class="btn btn-blue">
                                <i class="mdi mdi-table-column-plus-after"></i>
                                <span> New Column </span>
                            </button>
                            <button type="button" data-crl="saveTableConfig" class="btn btn-success">
                                <i class="mdi mdi-content-save-outline"></i>
                                <span> Save Table </span>
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>

<hr>