
{{!-- <!-- Topbar Start --> --}}
<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="dropdown d-none d-lg-inline-block">
                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen" href="#">
                    <i class="fe-maximize noti-icon"></i>
                </a>
            </li>

            <li class="dropdown d-none d-lg-inline-block topbar-dropdown">
                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" title="English">
                    <img src="/dash/assets/images/flags/en.png" alt="lang-image" class="mr-1" height="12"> <span class="align-middle">English</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <a href="javascript:void(0);" class="dropdown-item" title="Português">
                        <img src="/dash/assets/images/flags/pt-pt.png" alt="lang-image" class="mr-1" height="12"> <span class="align-middle">Português</span>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item" title="Español">
                        <img src="/dash/assets/images/flags/es.png" alt="lang-image" class="mr-1" height="12"> <span class="align-middle">Español</span>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list topbar-dropdown">
                <a class="nav-link nav-user mr-0 waves-effect waves-light" href="/acc/dashboard/account">
                    <img src="{{#if company.logo}}{{company.logo}}{{else}}/dash/assets/images/crlcoin_logo.svg{{/if}}" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1">
                        {{#if company.name}}{{company.name}}{{else}}CRLcoin Manager{{/if}}
                    </span>
                </a>
            </li>

        </ul>

        {{!-- <!-- LOGO --> --}}
        <div class="logo-box">
            <a href="javascript:void(0);" class="logo text-center">
                <span class="logo-sm">
                    <img src="/dash/assets/images/crlcoin_logo.svg" alt="CRLcoin Small Logo" height="49">
                </span>
                <span class="logo-lg">
                    <img src="/dash/assets/images/crlcoin_logo.svg" alt="CRLcoin Larger Logo" height="56">
                    <p class="h3 d-inline crlcoin-font text-light">
                        CRLcoin
                    </p>
                </span>
            </a>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
            <li>
                <button class="button-menu-mobile waves-effect waves-light">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li>
                <a class="navbar-toggle nav-link" data-toggle="collapse" data-target="#topnav-menu-content">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </li>
        </ul>

        <div class="clearfix"></div>

    </div>
</div>
{{!-- <!-- end Topbar --> --}}