<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{page.title}} | CRLcoin Technology Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="CRLcoin Technology Group" name="description" />
    <meta content="CRLcoin Technology Group" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- <!-- App favicon --> --}}
    <link rel="shortcut icon" href="/page/images/favicon.ico" />

    {{!-- <!-- App css --> --}}
    <link href="/page/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="/page/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="/page/assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
    <link href="/page/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <link href="/page/assets/libs/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" type="text/css" />
    <link href="/page/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <link href="/page/assets/libs/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js" />

    {{!-- icons --}}
    <link href="/page/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    {{!-- Custom --}}
    <link href="/page/assets/custom/css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading">

    {{!-- Begin page --}}
    <div id="wrapper">

        {{>dashboard/manager/_navbar}}

        {{>dashboard/manager/_leftSlidebar}}

        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">
                                            <a href="/">CRLcoin Technology Group</a>
                                        </li>
                                        {{#if company}}
                                        <li class="breadcrumb-item">
                                            <a href="javascript: void(0);">{{company.name}}</a>
                                        </li>
                                        {{/if}}
                                        <li class="breadcrumb-item active">
                                            {{page.title}}
                                        </li>
                                    </ol>
                                </div>
                                <h4 class="page-title">{{page.title}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                    {{!-- Overview --}}
                    {{#if page.Overview}}
                    {{>dashboard/manager/_app}}
                    {{/if}}

                    </div>

                    <div class="row">

                    {{!-- Tables --}}
                    {{#if page.Tables}}
                    {{>dashboard/manager/_appTables}}
                    {{/if}}

                    </div>

                    <div class="row">

                    {{!-- Help --}}
                    {{#if page.Help}}
                    {{>dashboard/manager/_appHelp}}
                    {{/if}}

                    </div>

                    {{!-- Account --}}
                    <div class="row">
                    {{#if page.Account}}
                        {{>dashboard/manager/_account}}
                    {{/if}}
                    </div>

                </div>

            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            {{>_copyright}}
                        </div>
                    </div>
                </div>
            </footer>

        </div>

        <!-- ============================================================== -->

    </div>

    {{!-- Connect --}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    {{!-- <!-- Vendor js --> --}}
    <script src="/page/assets/js/vendor.min.js"></script>

    {{!-- <!-- Dashboard init--> --}}
    {{#if page.Tables}}
        <script src="/page/libs/morris.js06/morris.min.js"></script>
        <script src="/page/libs/raphael/raphael.min.js"></script>
        <script src="/page/assets/js/pages/chart.init.js"></script>
    {{/if}}

    <script src="/page/assets/libs/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="/page/assets/js/pages/toastr.init.js"></script>
    <script src="/page/assets/libs/sweetalert2/sweetalert2.all.min.js"></script>

    {{!-- <!-- App js --> --}}
    <script src="/page/assets/js/app.min.js"></script>
    <script src="/page/js/notification.js"></script>
    {{#if page.Account}}
        <script src="/page/assets/custom/js/app-change-password-9be3621a90afd27c593036f2cbf622.js"></script>
    {{/if}}

</body>

</html>